.object-container {
    overflow: hidden;
}

input[type=file] {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #000;
    color: #fff;
    padding: 0.5rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    z-index: 3;
    width: 200px;
    outline: none;
    position: fixed;
}

.upload-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #000;
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 0 !important;
    font-size: 1rem;
    cursor: pointer;
    z-index: 3;
    width: 200px;
    outline: none;
    position: fixed;
}
  